{"flutter":{"platforms":{"android":{"default":{"projectId":"your_project_id","appId":"1:123456789:android:xxxxxxxxxxxxxxxx","fileOutput":"android/app/google-services.json"}},"dart":{"lib/firebase_options.dart":{"projectId":"your_project_id","configurations":{"android":"1:123456789:android:xxxxxxxxxxxxxxxx","ios":"1:123456789:ios:xxxxxxxxxxxxxxxx","macos":"1:123456789:ios:xxxxxxxxxxxxxxxx","web":"1:123456789:web:xxxxxxxxxxxxxxxx","windows":"1:123456789:web:xxxxxxxxxxxxxxxx"}}}}}}